$primary-color: #ffeb00;
$secondary-color: #dd2a30;
$shadow: black;

h1 {
  color: $primary-color;
  text-transform: uppercase;
  text-shadow: -1px 0 $shadow, -1px 0 $shadow, 0 1px $shadow, 1px 0 $shadow,
    0 -1px $shadow, 1px 0px 0px $shadow, 2px 1px 0px $shadow,
    3px 2px 0px $shadow, 4px 3px 0px $shadow, 5px 4px 0px $shadow;
  letter-spacing: 3px;
  border-bottom: 5px solid $secondary-color;
}

// a solution for a full-page by freecodecamp
html {
  height: 100%;
}
body {
  min-height: 100%;
}

#navbar {
  text-align: center;
  box-sizing: border-box;
  background-color: #dd2a30;
  margin-bottom: 50px;
  width: 100%;
  padding: 10px;
}

.navbar-text {
  display: inline-block;
  vertical-align: middle;
  margin: 2px;
}

#timer {
  vertical-align: middle;
  margin: 5px;
  margin-right: 20px;
  font-size: 26px;
}

// the lower body
#game-container-grid {
  width: auto;
  display: grid; 
  justify-items: center;
  grid-template-columns: 1fr 1fr; 
}

// container for rack and template
.puzzle-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;       
  align-content: center;
  width: 590px;
  height: 300px;
  margin: 5px; 
  border: 2px solid rgb(189, 189, 189);
}

.placeholder {
  background-color: rgb(156, 156, 156);
  border: solid 2px lightgray;
}
