$primary-color: #ffeb00;
$secondary-color: #dd2a30;
$shadow: black;

h1 {
  color: $primary-color;
  text-transform: uppercase;
  text-shadow: -1px 0 $shadow, -1px 0 $shadow, 0 1px $shadow, 1px 0 $shadow,
    0 -1px $shadow, 1px 0px 0px $shadow, 2px 1px 0px $shadow,
    3px 2px 0px $shadow, 4px 3px 0px $shadow, 5px 4px 0px $shadow;
  letter-spacing: 3px;
  border-bottom: 5px solid $secondary-color;
}

// the ideal solution for a full-page by freecodecamp
html {
  height: 100%;
}
body {
  min-height: 100%;
}

//the navigation bar
#navbar {
  display: inline-block;
  text-align: center;
  background-color: #dd2a30;
  width: 100%;
  height: 40px; //temp
  margin-bottom: 50px;

  //box-sizing: border-box;
}

#diff-selector-container{
  padding: 10px;
}

//the game container
#game-container-grid {
  width: auto;
  display: grid; 
  justify-items: center;
  grid-template-columns: 1fr 1fr; 
  //border: 1px solid black;
  //grid-gap: 20px; 
}

//container for both the rack and template
.puzzle-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;       // fallback incase
  align-content: center;
  width: 590px;
  height: 300px;
  margin: 5px; 
  border: 2px solid rgb(189, 189, 189);
}

.placeholder {
  background-color: rgb(156, 156, 156);
  border: solid 2px lightgray;
}

// single puzzle piece

/*
#puzzle-init{
}

#blank-grid {
}*/
